body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.clear{
    clear: both;
}

.encabezado{
    width: 100%;
    background-color: firebrick;
}

.encabezado img {
    margin: 20px;
}

.encabezado ul{
    float: right;
    width: 30%;
    height: auto;
}

.encabezado li{
    float: left;
    width: 100px;
    background-color: azure;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px dimgrey;
    list-style-type: none;
    margin: 60px 10% 30px 0;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.encabezado li a{
    text-decoration: none;
    color: darkred;
    font-weight: 700;
}

.encabezado li:hover{
    transform: scale(1.1);
}

h2{
    width: 80%;
    margin: 20px 10%;
    background-color: tomato;
    text-align: center;
    color: azure;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 5px 5px lightgray;
    padding: 10px;
}

.contenedor .paquete {
    float: left;
    width: 26%;
    height: auto;
    margin: 50px 1% 20px 5%;
    border-radius: 30px;
    padding-top: 0;
    background-color: RGBA(255, 69, 0, 0.5);

    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    border: 1px solid gray;

    transition: 0.5s;
}

.contenedor .paquete img {
    border: 1px solid black;
    border-radius: 30px;
    width: 70%;
    height: 150px;
    margin: 15px 16% 0px 15%;
}

.contenedor .paquete h3{
    margin-top: 20px;
    color: black;
    text-align: center;
    letter-spacing: 2px;
}

.contenedor {
    line-height: 0px;
}

.paquete:hover{
    transform: scale(1.1);
    background-color: RGBA(255, 69, 0, 0.8);
    border-radius: 30px;
}

.pie_pagina{
    background-color: darkgoldenrod;
    padding: 30px;
    text-align: center;
    margin-top: 50px;
}

.pie_pagina h4{
    font-size: 25px;
    margin: 0 0 10px 0;
}

.pie_pagina img{
    width: 40px;
    margin-top: 30px;
    transition: 0.5s;
    border-radius: 5px;
}

.pie_pagina img:hover{
    transform: scale(1.2);
}
